// app global css in SCSS form

// .text-light {
//   color: $light;
// }
// .bg-light {
//   background: $light;
// }

// table {
//   border-collapse: separate;
//   background:#fff;
// }

// // thead {
// //   // @include border-radius(5px);
// // }

// thead th {

// }

// tbody tr:nth-child(2n) {
//   background:#f0f3f5;
// }


.q-header, .q-btn__content {
  white-space: nowrap
}

.q-btn__content {
  flex-wrap: nowrap;
}

.q-header .q-tab__content, .q-footer .q-tab__content {
  min-width: fit-content
}

.q-field {
  min-width: 140px;
}

 ::-webkit-scrollbar-track
 {
   background-color: $teal-9;
 }
 
::-webkit-scrollbar
 {
   width: 8px;
 }
 
 ::-webkit-scrollbar-thumb
 {  
  //  border-radius: 10px;
   background-color: $teal-6
 }
 